*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: verdana;
}

p
{
  font-size: 0.8em
}

h1
{
  border-bottom: 1px solid darkgrey;
}

ul
{
  list-style:none;
}

a
{
  text-decoration: none;
}


.wrapper
{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header
{
  color: white;
  display: flex;
  flex-direction : column;
  background-color: firebrick;
  height: 100px;
  margin-bottom: 0;
}

header ul li a
{
  color: white;
  font-size: 0.8em;
}

header ul li:hover
{
  color: white;
}

header a ul li
{
  color: white;
  font-size: 0.8em;
}

header a:hover
{
  text-decoration: underline;
}

.txtblanc {
  color:white;
}

  .header_haut
  {
    display: flex;
    width: 100%;
    justify-content:space-around;
    flex-direction: row;
    padding-top: 10px;
    padding-left: 10px;
  }

    .bloc_logo
    {
     width: 20%;
    }

      .logo
      {
        width: 50%;
      }

    .barre_recherche
    {
      flex-grow: 1;
    }

    .nav-searchbar
    {
    width: 100%;
    display: flex;

    }

    .vide
    {
      width: 35%;
    }

  .header_bas
  {
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 0px;
    list-style: none;
    width: 100%;
    padding-bottom: 20px;
  }

    .vide2
    {
      width: 20%;
    }

    .liens_milieu
    {
      display: flex;
      justify-content: space-around;
      width: 45%;
    }

      .liste1
      {
        display: flex;
        justify-content:space-around;
        flex-direction: row;
        align-items: center;
      }

      .liste1 li
      {
        margin: 10px;
      }

      .liste1 li:hover
      {
        text-decoration: underline;
      }

    .liens_droite
    {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    }

    .liens_droite a:link
    {
      text-decoration: none;
    }


      .lien_droite
      {
        width: 25%;
        text-decoration: none;
        padding-bottom: 20px;
      }

      #l2
      {
        padding-left: 15px;
        align-items: center;
        justify-content: center;
      }

      .lien_droite:hover
      {
        border: 1px solid white;
      }

      .zone_panier
      {
        width: 25%;
        margin-right: 15px;
      }

      .zone_panier a
      {
        width: 50%;
        display: flex;
      }

      .zone_panier:hover
      {
       
        border: 1px solid white;
      }

      


.navigation
{
  border-top: 1px solid maroon;
}

.navigation ul 
{
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  list-style: none;
  background: gray;
  width: 100%;
  border-top-style:black;
  border-top-size:5px; 
}

  .navigation ul li 
  {
    flex-grow: 1;
  }

  .navigation ul li a 
  {
    display: block;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    font-size: 0.8em;
    font-weight: bold;
  }

  .navigation ul li a:hover 
  {
    color: firebrick;
    border-bottom: 2px solid firebrick;
    margin-bottom: -2px;
  }


.zone_centrale
{
  /*padding-top: 50px;*/
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid darkgrey;
  margin-bottom: 50px;
}

.barre_laterale
{
  width: 20%;
  flex-direction: column;
  padding-left: 20px;
  height:600px;
  background-color: firebrick;
}

.barre_laterale ul
{
  margin-bottom: 20px;
}

.barre_laterale ul li
{
  margin-left: 10px;
}

.barre_laterale ul li a
{
  color: white;
  font-size: 0.8em;
}

.barre_laterale ul li a:hover
{
  color: red;
}

.barre_laterale_droite
{
  width: 20%;
  flex-direction: column;
  padding-left: 20px;
}

.barre_laterale ul
{
  margin-bottom: 20px;
}

.barre_laterale ul li
{
  margin-left: 10px;
}

.barre_laterale ul li a
{
  color: white;
  font-size: 0.8em;
}

.barre_laterale ul li a:hover
{
  color: firebrick;
}



.main_zone
{
  width: 85%;
  flex-direction: column;
  border-left: 1px solid black;
 }

.sous-main
{
  flex-grow: 1;
  margin-bottom: 25px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.sous-main p
{
  padding-top: 20px;
}

.livres
{
  display: flex;
  justify-content: space-around;
}

.livre a img
{
  padding-top: 20px;
  width: 60%;
}

footer
{
  display: flex;
  flex-direction: column;
}


.footer-haut
{
  display: flex;
  justify-content:space-around;
  background-color: dimgrey;
   padding-bottom: 10px;
  padding-top: 10px;
}

.footer-haut
{
  color: white;
}

.footer-haut:hover
{
  text-decoration: underline;
  background-color: grey;
}

.footer-bas
{
  display: flex;
  justify-content:space-around;
  background: black;
}

.footer-bas a
{
  color: white;
  padding-bottom: 10px;
  padding-top: 10px;
}

.footer-bas a:hover
{
  text-decoration: underline;
}